* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 300px;
    width: 300px;
    border: solid salmon 1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 20px;
}

.item{
    background-color: antiquewhite;
    place-content: center space-around;
}